/* navbar for mobile, most of them are writing with !important beccasue it didn't worked for me with out it, most of the mobile vuew is with !important*/
@media(max-width: 767.98px) {
    body {
        overflow-x: hidden !important;
        /* overflow is added due to the screen being wierd  */
    }

    .site-header {
        display: flex;
        justify-content: space-between;
        z-index: 100;
    }

    .nav-links {
        display: flex;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-links li {
        margin: 1rem;
        border-bottom: 1px solid #000;
    }

    .nav-links.active {
        left: 0;
    }

    .humburger {
        display: block;
        cursor: pointer;
    }

    .humburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .humburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .humburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hero-container {
        padding: 0 !important;
    }

    .card-container {
        grid-template-columns: 1fr !important;
        width: 100vw;
    }

    .card-content {
        padding: 0;
        padding-bottom: 1.5rem;
    }

    .card {
        margin-bottom: 1rem !important;
        margin: auto;
    }

    .contact-container {
        width: 100vw !important;
    }
}

@media (max-width: 403.98px) {
    .img-container img {
        max-width: 5rem !important;
    }
}

@media (max-width:1024.98px) {
    .hero-container {
        padding: 0 !important;
    }

    .card-container {
        grid-template-columns: 1fr !important;
        width: 100vw;
    }

    .card-content {
        padding: 0;
        padding-bottom: 1.5rem;
    }

    .card {
        margin-bottom: 1rem !important;
        margin: auto;
    }
}